html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 210 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 47% 11%;

    --primary: 201 76% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 201 23% 94%;
    --secondary-foreground: 201 84% 24%;

    --muted: 201 23% 94%;
    --muted-foreground: 201 16% 46%;

    --accent: 201 44% 88%;
    --accent-foreground: 201 84% 24%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 201 31% 91%;
    --input: 201 31% 91%;
    --ring: 201 76% 64%;

    --radius: 0.75rem;

    --sidebar-background: 201 23% 97%;
    --sidebar-foreground: 201 84% 24%;
    --sidebar-primary: 201 76% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 201 23% 94%;
    --sidebar-accent-foreground: 201 84% 24%;
    --sidebar-border: 201 31% 91%;
    --sidebar-ring: 201 76% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    background: linear-gradient(to bottom, #6bb0d7 15%, #ffffff 25%);
    min-height: 100vh;
  }
}